@import url("https://fonts.google.com/specimen/Epilogue");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Epilogue', sans-serif;
  overflow-x: hidden;
  font-size: 1.8rem;
  background-color: #fafafa; }

header {
  position: absolute; }
  header nav {
    background-color: #fafafa;
    width: 100vw;
    height: 70px;
    padding: 10px;
    display: grid;
    grid-template-columns: 140px 1fr 0.15fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img init ending" "features company .";
    align-items: flex-start;
    justify-items: flex-start; }
    header nav .logo {
      grid-area: img;
      width: 100px;
      height: 25px;
      padding-left: 20px;
      margin-top: 15px; }
    header nav ul {
      margin-top: 15px;
      list-style-type: none;
      display: flex;
      flex-direction: row; }
      header nav ul li {
        padding: 0 30px 0 0; }
        header nav ul li .register {
          padding: 10px 22px 10px 22px;
          border-radius: 15px;
          border: 1px solid dimgray; }
        header nav ul li a {
          color: dimgray;
          font-weight: 500;
          padding: 10px;
          text-decoration: none;
          transition: ease-in-out 0.3s; }
          header nav ul li a:hover {
            cursor: pointer;
            color: black; }
      header nav ul .start {
        grid-area: init; }
      header nav ul .end {
        grid-area: ending; }
    header nav .active-menu {
      visibility: hidden; }
    header nav .features-menu {
      grid-area: features;
      visibility: hidden;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 160px;
      width: 170px;
      margin: 10px 85px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 7px 7px 7px 7px #00000031;
      transition: ease-in-out 0.3s; }
      header nav .features-menu li {
        padding-bottom: 5px; }
    header nav .company-menu {
      grid-area: company;
      visibility: hidden;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 140px;
      width: 130px;
      margin-top: 10px;
      margin-left: 160px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 7px 7px 7px 7px #00000031;
      transition: ease-in-out 0.3s; }
      header nav .company-menu li {
        padding-bottom: 5px; }

section {
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left hero ";
  justify-items: end; }
  section .left {
    grid-area: left;
    margin-left: 40px; }
    section .left h1 {
      font-size: 8rem;
      font-weight: 700;
      width: 90%;
      line-height: 80px;
      margin-top: 50px; }
    section .left p {
      margin-top: 50px;
      font-weight: 700;
      width: 80%;
      color: dimgray; }
    section .left button {
      margin-top: 30px;
      padding: 10px 25px;
      color: #e6e6e6;
      background-color: #141414;
      border-radius: 15px;
      font-weight: 700;
      transition: ease-in-out 0.3s; }
      section .left button:hover {
        background-color: white;
        color: black; }
    section .left div {
      margin-top: 50px; }
      section .left div img {
        margin-left: 25px; }
  section .hero {
    grid-area: hero;
    background-image: url(../images/image-hero-desktop.png);
    margin-left: 50px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

@media screen and (max-width: 375px) {
  header {
    position: relative; }
    header nav {
      width: 100vw;
      height: 50px;
      padding: 0px;
      grid-template-columns: 100px 275px;
      grid-template-rows: 50px 300px;
      grid-template-areas: "img menu" ". init" ". ending";
      align-items: flex-start;
      justify-items: flex-end; }
      header nav .logo {
        grid-area: img;
        width: 100px;
        height: 25px;
        padding-left: 20px;
        margin-top: 15px; }
      header nav ul {
        visibility: visible;
        margin-top: 15px;
        list-style-type: none;
        display: flex;
        flex-direction: column; }
        header nav ul li {
          padding: 0 30px 0 0; }
        header nav ul .start {
          grid-area: init; }
        header nav ul .end {
          grid-area: ending; }
      header nav .active-menu {
        visibility: visible;
        cursor: pointer;
        grid-area: menu;
        margin: 10px 20px 0px 0px; }
  section {
    padding: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "hero" "left";
    align-items: flex-start; }
    section .left {
      margin: 0px 0px;
      text-align: center; }
      section .left h1 {
        font-size: 3.5rem;
        width: 100%;
        margin-top: 10px; }
      section .left p {
        margin-top: 7px;
        font-weight: 700;
        width: 100%;
        color: dimgray;
        line-height: 25px; }
      section .left button {
        margin-top: 10px; }
      section .left div {
        margin-top: 35px; }
        section .left div img {
          margin-left: -5px;
          transform: scale(0.8); }
    section .hero {
      grid-area: hero;
      background-image: url(../images/image-hero-mobile.png);
      margin: 60px 0px 0px 0px;
      height: 50vh; } }
