@import url("https://fonts.google.com/specimen/Epilogue");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Epilogue', sans-serif;
  overflow-x: hidden;
  font-size: 1.8rem; }

header {
  position: fixed; }
  header nav {
    background-color: #e6e6e6;
    width: 100vw;
    height: 80px;
    padding: 10px;
    display: grid;
    grid-template-columns: 120px 1fr 0.15fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img init ending";
    align-items: center;
    justify-items: flex-start; }
    header nav .logo {
      grid-area: img;
      width: 100px;
      height: 25px;
      padding-left: 20px; }
    header nav ul {
      list-style-type: none;
      display: flex;
      flex-direction: row; }
      header nav ul li {
        padding: 0 30px 0 0; }
        header nav ul li .register {
          padding: 10px 22px 10px 22px;
          border-radius: 15px;
          border: 1px solid #141414; }
        header nav ul li a {
          color: #141414;
          font-weight: 500;
          padding: 10px;
          text-decoration: none;
          transition: ease-in-out 0.3s; }
          header nav ul li a:hover {
            cursor: pointer;
            color: black;
            font-weight: 600; }
      header nav ul .start {
        grid-area: init; }
      header nav ul .end {
        grid-area: ending; }

section {
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left hero ";
  align-items: center;
  justify-content: center;
  justify-items: end; }
  section .left {
    grid-area: left;
    margin-left: 40px; }
    section .left h1 {
      font-size: 8rem;
      font-size: 900; }
  section .hero {
    grid-area: hero; }
    section .hero img {
      width: 100%;
      height: 80vh; }
