body {
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
    font-size: 1.8rem;
}

header {
    position: absolute;

    nav {
        background-color: hsl(0, 0%, 98%);
        width: 100vw;
        height: 70px;
        padding: 10px;
        display: grid;
        grid-template-columns: 140px 1fr 0.15fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "img init ending"
            "features company .";
        align-items: flex-start;
        justify-items: flex-start;

        .logo {
            grid-area: img;
            width: 100px;
            height: 25px;
            padding-left: 20px;
            margin-top: 15px;
        }

        ul {
            margin-top: 15px;
            list-style-type: none;
            display: flex;
            flex-direction: row;

            li {
                padding: 0 30px 0 0;

                .register {
                    padding: 10px 22px 10px 22px;
                    border-radius: 15px;
                    border: 1px solid hsl(0, 0%, 41%);;
                }

                a {
                    color: hsl(0, 0%, 41%);
                    font-weight: 500;
                    padding: 10px;
                    text-decoration: none;
                    transition: ease-in-out 0.3s;

                    &:hover {
                        cursor: pointer;
                        color: black;
                    }
                }

            }

            .start {
                grid-area: init;
            }

            .end {
                grid-area: ending;
            }
        }

        .features-menu {
            grid-area: features;
            visibility: hidden;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 160px;
            width: 170px;
            margin: 10px 85px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 7px 7px 7px 7px #00000031;
            transition: ease-in-out 0.3s;

            li {
                padding-bottom: 5px;
            }
        }

        .company-menu {
            grid-area: company;
            visibility: hidden;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 140px;
            width: 130px;
            margin-top: 10px;
            margin-left: 160px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 7px 7px 7px 7px #00000031;
            transition: ease-in-out 0.3s;

            li {
                padding-bottom: 5px;
            }
        }
    }

}
