body {
    font-family: 'Epilogue';
    font-size: 1.8rem;
    overflow-x: hidden;
}

header {
    position: fixed;

      nav {
        background-color: hsl(0, 0%, 98%);
        width: 100vw;
  
        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
        }

        li a {
            text-decoration: none;
            
        }

        li .first {
            display: flex;
            justify-content: flex-start;
        }

        li .second {
            display: flex;
            justify-content: flex-end;
        }
      }
    }
  