@media screen and (max-width: 830px) {
    header {
        nav {
            .navbar {
                ul {
                    li {
                        .second {
                            margin: 20px;
                        }

                        .register {
                            margin-right: 20px;
                        }
                    }
                }

                .start {
                    margin-left: 5px;
                    left: 70px;
                }
            }
        }
    }
}



                .start {
                    background-color: hsl(0, 0%, 90%);
                    display: block;
                }

                .end {
                    background-color: hsl(0, 0%, 90%);
                    display: block;
                }


            

            .active-menu {
                position: absolute;
                top: 20px;
                left: 90%;

                .menu {
                    display: block;
                    margin-right: 0px;
                }
            }
        
    

    section {
        grid-template-columns: 1fr;
        padding: 0px;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas:
            "hero"
            "left";
        align-items: flex-start;

        .left {
            margin: 0px 0px;
            text-align: center;

            h1 {
                font-size: 3.5rem;
                width: 100%;
                margin-top: 10px;
            }

            p {
                margin-top: 7px;
                font-weight: 700;
                width: 100%;
                color: hsl(0, 0%, 41%);
                line-height: 25px;
            }

            button {
                margin-top: 10px;
            }

            div {
                margin-top: 35px;

                img {
                    margin-left: -5px;
                    transform: scale(0.8);
                }
            }
        }

        .hero {
            grid-area: hero;
            background-image: url(../images/image-hero-mobile.png);
            margin: 60px 0px 0px 0px;
            height: 50vh;
        }
    }




// @media screen and (max-width: 375px) {

//     header {
//         nav {
//             width: 100vw;
//             height: 50px;
//             padding: 0px;
//             grid-template-columns: 100px 275px;
//             grid-template-rows: 50px 1fr 1fr;
//             grid-template-areas:
//                 "img menu"
//                 ". init"
//                 ". ending";
//             align-items: flex-end;
//             justify-items: flex-end;

//             .logo {
//                 grid-area: img;
//                 width: 100px;
//                 height: 25px;
//                 padding-left: 10px;
//                 margin-top: 15px;
//             }

//             ul {
//                 visibility: visible;
//                 width: 65vw;
//                 height: 100%;
//                 background-color: white;
//                 margin-top: -50px;
//                 flex-direction: column;
//                 padding: 0 0 0 0;


//                 li {
//                     padding: 0 0px 0 0;

//                     .careers {
//                         padding: 0 0 0 0;
//                     }
//                 }

//                 .features-menu {
//                     margin-top: 50px;
//                     padding: 0 0 0 0;

//                     .features-submenu {
//                         margin: 0 0 0 10px;
//                         border-radius: unset;
//                         box-shadow: unset;

//                         li {
//                             padding-bottom: 5px;
//                         }
//                     }
//                 }

//                 .company-menu {
//                     .company-submenu {
//                         border-radius: unset;
//                         box-shadow: unset;
//                         margin: 0px 0 0 40px;

//                         li {
//                             padding-bottom: 5px;
//                         }
//                     } 
//                 }

//             }


//             .end {
//                 li {
//                     margin-bottom: 15px;
//                     .register {
//                         padding: 10px 60px 10px 60px;
//                     }
//                 }
//             }


//             .active-menu {
//                 cursor: pointer;
//                 grid-area: menu;
//                 margin: 10px 0px 0px 0px;

//                 .menu {
//                     visibility: visible;
//                 }

//                 .close {
//                     visibility: hidden;
//                 }
//             }


//         }
//     }

//     //NavBAR hasta

//     section {
//         padding: 0px;
//         grid-template-columns: 1fr;
//         grid-template-rows: 0.5fr 0.5fr;
//         grid-template-areas:
//             "hero"
//             "left";
//         align-items: flex-start;

//         .left {
//             margin: 0px 0px;
//             text-align: center;

//             h1 {
//                 font-size: 3.5rem;
//                 width: 100%;
//                 margin-top: 10px;
//             }

//             p {
//                 margin-top: 7px;
//                 font-weight: 700;
//                 width: 100%;
//                 color: hsl(0, 0%, 41%);
//                 line-height: 25px;
//             }

//             button {
//                 margin-top: 10px;
//             }

//             div {
//                 margin-top: 35px;

//                 img {
//                     margin-left: -5px;
//                     transform: scale(0.8);
//                 }
//             }
//         }

//         .hero {
//             grid-area: hero;
//             background-image: url(../images/image-hero-mobile.png);
//             margin: 50px 0px 0px 0px;
//             height: 50vh;
//         }
//     }
// }